@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300 700;
  font-display: optional;
  src: url("/fonts/roboto-condensed-latin-wght-normal.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
}
